<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.posmania.kr.Mapper.AddressMapper">

<select id="searchAddress" parameterType="Map" resultType="Map">
  
  	CALL PmKioskAWS.XSelect_GetAddressInfo (${StoreID}, ${SaleID})

</select>

<update id="resetAddress" parameterType="Map">
  
  	CALL PmKioskAWS.XUpdate_ResetAddr (${StoreID}, ${SaleID})

</update>

</mapper>